In [1]:
import pandas as pd
import numpy as np

In [2]:
data_1={"id": ["2"], "first_name": ["JITENDER"], "middle_name": [" "], "last_name": ["DAGAR"], "email": ["athulk@webandcrafts.in"], "country_code": ["+91"], "phone": ["9072482174"], "sex": ["male"], "country_id": ["1"], "language_id": ["1"], "dob": ["1999-10-02"], "height": ["178"], "weight": ["142"], "address": ["address"], "city": ["Thrissure"], "state": ["kerala"], "pincode": ["679865"], "blood_group": ["A+ve"], "ethnicity": [""], "marital_status": [""], "occupation": [""], "longitude": [""], "latitude": [""]}

In [3]:
df=pd.DataFrame(data_1)
df

,id,first_name,middle_name,last_name,email,country_code,phone,sex,country_id,language_id,...,address,city,state,pincode,blood_group,ethnicity,marital_status,occupation,longitude,latitude
0,2,JITENDER,,DAGAR,athulk@webandcrafts.in,+91,9072482174,male,1,1,...,address,Thrissure,kerala,679865,A+ve,,,,,